<div class="offers">
  <div class="offer">
    <button class="artist"><img  src="assets/artist.png" title="vue artist profile"></button>
    <div class="container">
      <h3>Portrait</h3>
      <img src="assets\posts\rei.jpg" alt="">
      <h4>60.00$</h4>
    </div>
  </div>
  <div class="offer">
    <button class="artist"><img  src="assets/artist.png" title="vue artist profile"></button>
    <div class="container">
      <h3>Landscape</h3>
      <img src="assets\posts\1330235.png" alt="">
      <h4>100.00$</h4>
    </div>
  </div>
  <div class="offer">
    <button class="artist"><img  src="assets/artist.png" title="vue artist profile"></button>
    <div class="container">
      <h3>Landscape</h3>
      <img src="assets\posts\662162.png" alt="">
      <h4>80.00$</h4>
    </div>
  </div>
  <div class="offer">
    <button class="artist"><img  src="assets/artist.png" title="vue artist profile"></button>
    <div class="container">
      <h3>Sketch/Concept art</h3>
      <img src="assets\posts\hh.jpg" alt="">
      <h4>20.00$</h4>
    </div>
  </div>
</div>
