.header{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-family: $text;
  img{
    height: 3rem;
  }
  .profile{
    display: flex;
    width: 8rem;
    justify-content: space-between;
    align-items: center;
     button{
       background: none;
       border: none;
     }
  }

  .buttons{
    width: 40%;
    display: flex;
    justify-content: space-between;
    button{
      padding: 3px;
      width: 7rem;
      background: none;
      border: none;
      font-family: $text;
      color: $accentColor2;
      font-size: 1rem;
      border: 2px solid transparent;
      border-bottom: 2px solid $accentColor2;
      cursor: pointer;
      transition: 0.5s;
      &:hover{
        border: 2px solid $accentColor2;
      }
    }
  }
}
