@mixin sakuraBg {
  height: 100vh;
  background-image: url('images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.18);
  background-blend-mode: color;
}

@mixin greenButton {
  font-family: $text;
  font-size: 1rem;
  padding: 0.3rem;
  background-color: $accentColor;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    background-color: $accentColor2;
  }
}
