@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.authPage {
  background-color: #FFD4D4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm {
  background-image: url("images/bg.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.48) -6px 6px 0px 2px;
}
.authForm h1 {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  color: #FFFFE8;
}
.authForm form {
  width: 98%;
  height: 90%;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
.authForm form .inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.authForm form .inputDiv label {
  margin-bottom: 0.5rem;
  color: #FFFFE8;
}
.authForm form .inputDiv input {
  height: 2rem;
  border: none;
  border-radius: 2px;
  padding: 2px;
  background-color: #FFFFE8;
  transition: 0.3s;
}
.authForm form .inputDiv input:focus {
  outline: none;
}
.authForm form button {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 1rem;
  padding: 0.3rem;
  background-color: #d0ef92;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}
.authForm form button:hover {
  background-color: #a7cc6d;
}
.authForm form h2 {
  font-size: 0.9rem;
  font-weight: 400;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.authForm form a {
  text-decoration: none;
  color: #FFFFE8;
  font-weight: bolder;
}

.error {
  color: #880a0a;
}

.welcome {
  height: 100vh;
  background-image: url("images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.18);
  background-blend-mode: color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome .container {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.welcome .container p {
  padding: 0.5rem;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  color: #FFFFE8;
  text-align: center;
}
.welcome .container div {
  width: 60%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.welcome .container div button {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 1rem;
  padding: 0.3rem;
  background-color: #d0ef92;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: 10rem;
}
.welcome .container div button:hover {
  background-color: #a7cc6d;
}

.logo {
  font-family: "Lilita One", sans-serif;
  color: #FFD4D4;
  font-size: 5rem;
}

.signupButton {
  color: #a7cc6d;
  text-decoration: none;
  padding: 0.5rem;
  border: solid 1px;
  position: absolute;
  top: 2.5%;
  left: 90%;
}

/*# sourceMappingURL=main.css.map */
