<div class="authPage">
  <div class="authForm">
    <h1>SIGN UP</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <div class="inputDiv">
        <label>FIRST NAME</label>
        <input type="text" formControlName="firstName" required>
        <div *ngIf="signupForm?.get('firstName')?.hasError('required') && submitted">
          <p class="error">First Name is required !</p>
        </div>
      </div>
      <div class="inputDiv">
        <label>LAST NAME</label>
        <input type="text" formControlName="lastName" required>
        <div *ngIf="signupForm?.get('lastName')?.hasError('required') && submitted">
          <p class="error">Lst name is required !</p>
        </div>
      </div>
      <div class="inputDiv">
        <label>USERNAME</label>
        <input type="text" formControlName="username" required>
        <div *ngIf="signupForm?.get('username')?.hasError('required') && submitted">
          <p class="error">Username is required !</p>
        </div>
      </div>
      <div class="inputDiv">
        <label>EMAIL</label>
        <input type="email" formControlName="email"  required>
        <div *ngIf="signupForm?.get('email')?.hasError('required') && submitted">
          <p class="error">Email is required !</p>
        </div>
        <div *ngIf="signupForm?.get('email')?.hasError('email') && submitted">
          <p class="error">Email should be valid !</p>
        </div>
      </div>
      <div class="inputDiv">
        <label>PASSWORD</label>
        <input type="password" formControlName="password" required>
        <div *ngIf="signupForm?.get('password')?.hasError('required') && submitted">
          <p class="error">Password is required !</p>
        </div>
        <div *ngIf="signupForm?.get('password')?.hasError('minlength') && submitted">
          <p class="error">Password should be at least 8 characters !</p>
        </div>
      </div>
      <button type="submit">SUBMIT</button>
    </form>
  </div>
</div>
